<div class="h-full w-full flex flex-col justify-center">
    <div id="folder-selection" onclick="choose_new_folder()" class="h-full max-h-70 border-5 cursor-pointer border-theme-minor bg-theme-minor/80 m-8 rounded-3xl text-center flex flex-col justify-center">
        <div class="text-xl/10">
            <u>Click</u> here to <br /> open a folder
        </div>
    </div>
</div>