
<div class="w-auto flex-1 flex flex-col bg-theme-major">
    <%- include("centercontents/head.ejs") %>
    <%- include("centercontents/background.ejs") %>
    <%- include("centercontents/user_input.ejs") %>
</div>